[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pyvolve = "==1.0.3"
GDAL = "==3.0.4"
numpy = "*"
rasterio = "*"
matplotlib = "*"
imageio = "*"
imageio-ffmpeg = "*"
pyproj = "*"
shapely = "*"
fiona = "*"
scikit-learn ="*"
pyimpute ="*"
geopandas ="*"
pygbif = "*"
mayavi = "*"
[dev-packages]

[requires]
python_version = "3.8"
