# General

Pyvolve==1.0.3
numpy
tqdm
pytest
setuptools < 60.0 # Avoid bug with Mayavi, see https://numpy.org/devdocs/reference/distutils_status_migration.html

# For crumbs geospatial & parallelism

rasterio==1.3b2 # See https://github.com/rasterio/rasterio/issues/2333
matplotlib
imageio
imageio-ffmpeg
pyproj
shapely
fiona
dask
xarray
rioxarray

# For crumbs.get_chelsa and crumbs.sdm

joblib
git+https://github.com/perrygeo/pyimpute.git@1371e5bf1f5ef35bd88ea5c2d57d2cbedf4f5d1d
xgboost
lightgbm
scikit-learn
geopandas

# For crumbs.get_gbif


attrs==21.4.0 # avoids requests-cache 0.9.4 has requirement attrs<22.0,>=21.2, but you'll have attrs 19.3.0 which is incompatible.
pygbif==0.6.1

# PyVirtualDisplay and its dependencies

# pyvirtualdisplay
# pillow
# EasyProcess
# vtk
# opencv-python
# PyVirtualDisplay
# mayavi
# PyQt5
